@model POC.DataAccess.Model.ProductDetailView
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Theme/Scripts/highchart.js"></script>
<script src="~/Theme/Scripts/highcharts-3d.js"></script>
<div class="col-md-12" id="barcontainer" style="height: 400px;">
</div>
@section scripts{
    <script language="JavaScript">
      
        $(document).ready(function () {

            // Redner chart
            const chart = Highcharts.chart('barcontainer', {
                series: [{
                    data: [],
                    type: 'column'
                }]
            });

            //alert(document.readyState);
           
            CallBarGraph();


        });

         function CallBarGraph() {

            var filterdays = "";
            if ($("#Model_DateFilterBarGraph").val() == "Last 3 Days") { filterdays = "3"; }
            else if ($("#Model_DateFilterBarGraph").val() == "Last 7 Days") { filterdays = "7"; }
            else if ($("#Model_DateFilterBarGraph").val() == "Last 1 Month") { filterdays = "30"; }
            else if ($("#Model_DateFilterBarGraph").val() == "Last 3 Months") { filterdays = "90"; }
              $.ajax({
                  type: "POST",
                  cache: false,
            url: '@Url.Action("GetBarGraphData", "Report")',
            data: { Filterdays: filterdays},
            success: function (chData) {
                //alert(chData.data);
                var xAxisData = JSON.parse(chData.categories);
                var ProductVcCountData = JSON.parse(chData.ProductVCIssuesCount);
                var TransportStartCountData = JSON.parse(chData.TransportStartEventCount);
                console.log(xAxisData);
                console.log(ProductVcCountData);
                //For Bar Chart
                var t =Highcharts.chart('barcontainer', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Product VC Created vs In Transportation'
                    },
                    //subtitle: {
                    //    text: 'Source: WorldClimate.com'
                    //},
                    xAxis: {
                        categories: xAxisData,
                        crosshair: true
                    },
                    yAxis: {
                        min: 0
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    rangeSelector: {
                        enabled: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'VC Created',
                        data: ProductVcCountData

                    },
                        {
                        name: 'In Trasport',
                            data: TransportStartCountData

                    }]
                });
                if (t.series.data != undefined) {
                    //if (chart.data.empty == 'true') {
                    alert(t.series.data);
                    

                    //    chart.destroy(); //why remove all series, while you can remove chart to free some space and resources

                    //    $('#barcontainer').html("<div class='empty-chart'>No data available for selected date range</div>"); //now show some information about chart
                }

                  },
                   
              });
            


        }
    </script>
}


