
@{
    Layout = null;
    ViewBag.Title = "Error";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="alert alert-danger">
            You Don't have access to this page
        </div>
    </div>
</body>
</html>
