
@{
    Layout = null;
    ViewBag.Title = "404 - Not Found";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div class="alert alert-danger">
        Either this page doesnt exist or You dont have access to It.
    </div>
</body>
</html>
